
# /requirements.txt
# Author: Jacob Thomas Messer Redmond
# UUID: UUID-00101010127

requests==2.32.2
beautifulsoup4==4.9.3
web3==5.23.1
solcx==0.6.0
numpy==1.22.0
pandas==1.2.3
scikit-learn==1.5.0
schedule==0.6.0
selenium==3.141.0
